.main-content-wrapper{
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 1rem;
  border-radius: 0.25rem;

  .search-toolbar-pagination-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .toolbar-pagination-wrapper{
      display: flex;
      align-items: center;
      justify-content: end;
      margin-top: 1rem;
  
      .pagination{
        margin-left: 1rem;
      }
    }
  }


  //list view scss
  .list-view-wrapper{
    .list-header{
      display: grid;
      grid-template-columns: 1.5fr repeat(2, 1fr) 10rem;
      font-weight: 600;
      font-size: 1.2rem;
      height: 4rem;
      align-items: center;
      overflow: hidden;

      .header-item{
        padding: 1rem;
        border: 0.5px solid #ddd;
        overflow: hidden;

        &+ .header-item{
          border-left-color: transparent;
        }
      }

    }

    .list-row{
      display: grid;
      grid-template-columns: 1.5fr repeat(2, 1fr) 10rem;
      height: 4rem;
      align-items: center;
      overflow: hidden;

      .row-item{
        border: 0.5px solid #ddd;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        height: inherit;
        border-top: transparent;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:last-child {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          place-content: center;

          i-feather{
            color: blue;
            width: 2rem;
          }
        }

        &+ .row-item{
          border-left-color: transparent;
        }

      }

      &:hover{
        background-color: bisque;
      }
    }
  }


  // customer-form
  .customer-form-wrapper{
    width: 50%;
    height: 100%;
    overflow: auto;
    padding-right: 1rem;
  }

  .customer-details-mobile{
    display: none;
  }


  @media only screen and (max-width: 768px) {
    .customer-form-wrapper{
      width: 100%;
    }
  }

  @media only screen and (max-width: 600px) {
    .customer-details{
      display: none;
    }
    .customer-details-mobile{
      height: 100%;
      overflow: auto;
      display: block;

      .search-toolbar-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .card{
        margin-top: 0.5rem;

        .card-body{
          label{
            font-weight: 500;
          }
          .buttons-wrapper{
            display: flex;
            .btn{
              i-feather{
                color: blue;
                width: 1.1rem;
              }
              &+ .btn{
                margin-left: 1rem;
              }
            }
          }
        }
      }
    }
    
  }
}