.customer-form{
  .card{
    margin-top: 1rem;

    .card-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .action-wrapper{
        .btn{
          margin-right: 0.5rem;
        }
      }
    }

    .card-body{
      .form-group{
        margin-bottom: 1rem;

        .form-label{
          font-weight: 500;
          
          .red-asterisk{
            color: red;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 600px){
    h5{
      font-size: 1rem;
    }
  }
}